html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    max-width: 21cm;
    margin: auto;
    line-height: 1.6;
    font-weight: 300;
    font-family: Roboto,sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media screen and (max-width: 980px){
    body {
        margin: 0 2em;
    }
}

header>h1 {
    margin: 0;
    font-size: 3em;
    padding-top: 4em;
}

h1,h2{
    color: #4b0061;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: .0375em;
}

ol{
    list-style: none;
}

[role=contentinfo] a {
    text-decoration: none;
}

a {
    background-color: transparent;
}

a:webkit-any-link{
    cursor: pointer;
    color: -webkit-link;
    text-decoration: underline;
}

a:visited{
    color:#4b0061;
}

.diagram{
    position:relative;
    left:-17%;
    width: 140%;
    height: auto;
}

img{
    position:relative;
    width: 100%;
    height: auto;
}

.vertical{
    padding-left: 10px;
    position:relative;
    width: 25%;
    height: auto;
}

.landscape{
    position:relative;
    padding-right: 10px;
    width: 70%;
    height: auto;
}

.gif{
    position:relative;
    width: 100%;
    height: auto;
}

section{
    margin-top:50px;
}